<nav class="navbar navbar-expand-lg sticky-top">

    <div class="container">

        <!-- Logo -->

        <a class="navbar-brand fw-bold" href="{% url 'home' %}">

            <i class="fa-solid fa-play text-warning me-2"></i>

            Crunchyroll Trend Analysis

        </a>

        <!-- Mobile Button -->

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- Menu -->

        <div class="collapse navbar-collapse"
             id="mainNavbar">

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item mx-2">

                    <a class="nav-link"
                       href="{% url 'home' %}">

                        <i class="fa-solid fa-house me-1"></i>

                        Home

                    </a>

                </li>

                <li class="nav-item mx-2">

                    <a class="nav-link"
                       href="{% url 'analysis' %}">

                        <i class="fa-solid fa-chart-column me-1"></i>

                        Analysis

                    </a>

                </li>

                <li class="nav-item mx-2">

                    <a class="nav-link"
                       href="{% url 'prediction' %}">

                        <i class="fa-solid fa-arrow-trend-up me-1"></i>

                        Trend Prediction

                    </a>

                </li>

                <li class="nav-item mx-2">

                    <a class="nav-link"
                       href="{% url 'team' %}">

                        <i class="fa-solid fa-users me-1"></i>

                        Team

                    </a>

                </li>

                <li class="nav-item mx-2">

                    <a class="nav-link"
                       href="{% url 'contact' %}">

                        <i class="fa-solid fa-envelope me-1"></i>

                        Contact

                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>